/* Estilos generales para la aplicación */
.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Media query para dispositivos con ancho máximo de 600px */
@media (max-width: 600px) {
  .App {
    background-color: lightblue;
  }

  input,
  button {
    width: 80%;
    font-size: 14px;
  }
}

/* Media query para dispositivos con ancho mínimo de 601px */
@media (min-width: 601px) {
  .App {
    background-color: lightcoral;
  }

  input,
  button {
    width: 40%;
    font-size: 18px;
  }
}
